.services {
  width: 100%;
  padding: 40px 20px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.services h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #023106;
  font-size: 52px;
}

.services p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.service__card {
  background-color: #fff;
  padding: 2em;
  height: 20em;
  display: flex;
  align-items: center;
  border: 2.3px solid rgba(2, 49, 2, 0.3647058824);
  border-radius: 20px;
  margin-top: 30px;
}

.service__card img {
  width: 100%;
  max-width: 300px;
  margin: 0 2em;
  height: auto;
  margin-bottom: 20px;
}

.service__card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #033102;
}

.service__card p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 800px;
  color: #49574e;
  font-weight: 300;
}
.service__text {
  margin: 0 5%;
  width: 60%;
  margin-left: 5%;
}
@media (max-width: 1000px) {
  .service__card {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1.5em;
  }

  .service__text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .service__card h2,
  .service__card p {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .service__text {
    font-size: 1.75rem;
  }

  .services p {
    font-size: 0.9rem;
  }

  .service__card h4 {
    font-size: 1.1rem;
  }

  .service__card p {
    font-size: 0.9rem;
  }
}
